
body{
    
    background-color: rgb(180, 210, 250);
/*    background-color: */

}


#score{
    position: fixed;
    left: calc(50vw + 22.5vh + 1vw);
    top: 20vh;  
}
#level{
    position: fixed;
    left: calc(50vw + 22.5vh + 1vw);
    top: 28vh;  
}
#lines{
    position: fixed;
    left: calc(50vw + 22.5vh + 1vw);
    top: 36vh;  
}

#pause{
    position: fixed;
/*    font-size: calc(15vh - 5vw);*/
    left: calc(50vw + 22.5vh + 1vw);
    top: 50vh;  
}

#next-piece{
    background-color:azure;
    
    width: 15vh;
    height: 15vh;
        
    position: fixed;
    left: calc(50vw + 22.5vh);
    top: 5vh;
    
}


#play-button{
    
    position: fixed;
    
    font-size: 15vh;
    
    
    left: calc(50vw - 19vh);
    top: 35vh;
    
    z-index: 1;
    
    
    
}

#canvas{
    
    width: 45vh;
    height: 90vh;
    
    
    position:absolute;
    top:5vh;
    left: calc(50vw - 22.5vh);
    
    margin: auto;
    
    background-color: rgb(100, 190, 250);

}